/* Customize Body Content*/ /*Customizes the resume page skills*/

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #051e2c;
  color: #4ced5c;

}

/* Customize Header*/
header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom,#0c3430, #051e2c);
  margin: 0;
  width: 100%;
  font-size: larger;
  color: rgb(249, 90, 33);
}

/* Customize Nav links placement*/

nav ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
  margin-right: 2rem;
}

/* Customize Nav links button text look*/

nav a {
  color: #7DCD85;
  text-decoration: none;
}

/* Customize Nav links button look */

button {
  background-color: transparent;
  border: none;
  outline: #4ced5c;
  height: 200%;
  width: 125%;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

/* Customize Nav links on hover */

button:hover {
  color: #4ced5c;
  font-size: 1.5rem;  /* Customize transform on text for the nav buttons */
  text-shadow: 2px 2px 5px #4ced5c; /* Customize shadow on text */

}

/* Customize Active Button Look */

button:focus {
  color: #4ced5c;

}

/*Customize Headshot picture*/

img.devHeadshot {
  /*maxWidth: '600px', 
  maxHeight: '600px',*/ 
  width: 50%; 
  height:30%;
  padding: 0;
  margin: 0;
  justify-items: center;
}
  


/* Customize Section Spacing */
@media screen and (max-width: 767px) {

 .devHeadshot {
    /*padding: 0.5rem;*/
    width: 90%;
    margin-bottom: 10rem;
    /* box-sizing: border-box; */
  }
  }
  
@media screen and (max-width: 767px) {

section {
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 5rem;
  box-sizing: border-box;
}
}

section {
  padding-top: 5rem;
  margin-left: 1rem;
  margin-right: 0rem;
  margin-bottom: 10rem;
  box-sizing: border-box;
}


/* Customize Section Link text */ /*Customizes Download resume text*/

section a {
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
  color: white;
}

/*Customize Section links on hover*/ /*Customizes the Download resume link*/

section a:hover{
    color: #4ced5c;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px #4ced5c;
    transform: scale(1.5);
  }
  
  /* Customize the h3 tags in a section*/ /*Customizes the About me text and portfolio section titles*/

  section h3{
      line-height: 1.5;
      text-align: justify;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-indent: 25px;
      color: white;
      width: 90%;
  }

/*Customize the image attached to links*//*Customizes the Icon next to the Download resume link*/

a img{
  height: 1.5rem;
  margin-left: .5rem;
 margin-right: .5rem;
 }

 /*Customize the Footer*/

footer {
  text-align: center;
  background: linear-gradient(to top,#0c3430, #051e2c);
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  width: 100%;
  height: 10%;
  z-index: 1002;
}

/*Customize the Footer Links*/

footer a {
  font-weight: bolder;
  margin: 5px;
}

/*Customize the Footer h3 Texts*/

footer h3 {
  padding: 0px;
  margin: 0px;
}

/*Customize the Footer images*/

footer img{
  height: 2rem;
  padding: .3rem;
}

/*Customize the Footer image on hover*/

footer img:hover {
  transform: scale(1.5);  /* Slightly enlarges the image on hover */
}