body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: #051e2c;
  color: white;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c3430;
  color: #4ced5c;
  padding: 1rem;
  width: 100%;
}


nav ul {
  list-style-type: none;
  display: flex;
  gap: 4rem;
}

nav a {
  color: #7DCD85;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: #4ced5c;
  border-radius: 25px;
  height: 200%;
  width: 125%;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  color: #4ced5c;
  font-size: 1.5rem; /* Slightly enlarges the image on hover */
  text-shadow: 2px 2px 5px #4ced5c; /* Adds a greenish glow shadow */

}

button:focus {
  color: #4ced5c;

}

section {
  padding: 1rem;
  /*min-height: calc(0vh - 0px); /* Adjust to ensure content fills the screen with footer at bottom */
  box-sizing: border-box;
}

section a {
text-decoration: none;
font-weight: bolder;
color: white;

}

section a:hover{
    color: #4ced5c;
    font-size: 1.2rem;
    text-shadow: 2px 2px 5px #4ced5c;
    transform: scale(1.5);
  }
  section h3{
      line-height: 1.5;
      text-align: justify;
      margin-bottom: 7rem;
      text-indent: 50px;
  }
a img{
  height: 1.5rem;
  margin-left: .5rem;
 margin-right: .5rem;
 }

footer {
  text-align: center;
  background-color: #0c3430;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
}

footer a {
  font-weight: bolder;
  margin: 5px;
}

footer h3 {
  padding: 0px;
  margin: 0px;
}
footer img{
  height: 2rem;
  padding: .3rem;
}

footer img:hover {
  transform: scale(1.5); /* Slightly enlarges the image on hover */
}


